<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Expenses</title>
</head>

<body>
    {{!-- <div class="nav-container">
        <ul class="nav-items">
            <!-- Navigation -->
            <a href="/">
                <li class="nav-item">Home
            </a></li>
            <a href="/expenses">
                <li class="nav-item">Track Expenses
            </a></li>

        </ul>
    </div> --}}

    <h1>These are all your expenses ordered by date!</h1>
    <div class='loginboxx'>
        <div class="success">
                {{messages.success}}
            </div>
        <table class="useExpense" border="1">
        

            <tr>
                <th>User-Id</th>
                <th>category_id</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            {{#each expenseCatagory}}
            <tr>
            <td>{{value.id}}</td>
            <td>{{this.category_id}}</td>
            <td>R{{this.amount}}</td>
            <td>{{this.expense_date}}</td>
            </tr>
            {{/each}}
       <h3>{{totalSpending}}</h3>
            
        </table>

    </div>


</body>

</html>